body {
    background-color: rgb(20, 210, 235);
}
header {
    font: normal 20pt Arial;
    text-align: center;
    color: black;
    background-color: white;
    border-radius: 10px;
    padding: 1px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    margin: auto;
    width: 700px;
}
section {
    font: normal 20pt Arial;
    color: black;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 1%;
    margin-top: 25px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.486);
    width:1300px;
}
footer {
    font: italic 20pt Arial;
    color: white;
    text-align: center;
    margin-top: 20px;
}
.links {
    color: black;
    text-decoration: none;
    border-style: solid;
    border-color: grey;
}